<form ng-submit="owner.submitForm()" name="owner.formowner" novalidate>
  <formly-form model="owner.info" fields="owner.fieldsFormOwner" options="owner.options" form="owner.formowner">
    <button type="submit" class="btn btn-primary submit-button pull-right" ng-disabled="owner.formowner.$invalid">Guardar</button>
    <a ui-sref="yousefrontend.authenticated.welcome"><button type="button" class="btn btn-info submit-button">Volver a principal</button>
  </formly-form>
</form>

<!-- Put custom templates here -->
<script type="text/ng-template" id="error-messages.html">
  <formly-transclude></formly-transclude>
  <div ng-messages="fc.$error" ng-if="form.$submitted || options.formControl.$touched" class="error-messages">
    <div ng-message="{{ ::name }}" ng-repeat="(name, message) in ::options.validation.messages" class="message">{{ message(fc.$viewValue, fc.$modelValue, this)}}</div>
  </div>
</script>