<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Propietarios</div>
            <div class="panel-body">
                <p>Se listan los propietarios asociados a esta cuenta, recuerde que los datos aqui suministrados seran los que se reflejen en su seguro obligatorio.(Recuerde que debera estar creado, antes de crear el vehiculo, pues el mismo debera quedar asociado)</p>
                 <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Tipo de documento</th>
                                <th>Numero de documento</th>
                                <th>Nombres</th>
                                <th>Apellidos</th>
                                <th>Celular</th>
                                <th>Email</th>
                                <th colspan="2" class="text-center">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="owner in welcome.owners">
                                <td>{{owner.id}}</td>
                                <td>{{owner.type_document}}</td>
                                <td>{{owner.document_number}}</td>
                                <td>{{owner.names}}</td>
                                <td>{{owner.lastnames}}</td>
                                <td>{{owner.mobilphone}}</td>
                                <td>{{owner.email}}</td>
                                <td><a ui-sref="yousefrontend.authenticated.owner.edit({id: owner.id})">Editar</a></td>
                                <td><a ng-click="welcome.deleteOwner(owner.id)">Eliminar</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <a ui-sref="yousefrontend.authenticated.owner.new" class="pull-rigth">
                    <button class="btn btn-default navbar-btn">Nuevo</button>
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Vehiculos</div>
            <div class="panel-body">
                <p>Aqui listara todos los vehiculos en su cuenta, debe estar debidamente registrado para poder generar su seguro obligatorio, esto solo lo hara una vez y luego podra disfrutar de compra <b>a un click.</b></p>
                 <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Placa</th>
                                <th>Clase de vehiculo</th>
                                <th>Modelo</th>
                                <th>Pasajeros</th>
                                <th>Cilindraje</th>
                                <th>Toneladas (Solo carga)</th>
                                <th>Precio SOAT</th>
                                <th colspan="2" class="text-center">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="vehicle in welcome.vehicles">
                                <td>{{vehicle.id}}</td>
                                <td>{{vehicle.plate}}</td>
                                <td>{{vehicle.classvehicle}}</td>
                                <td>{{vehicle.model}}</td>
                                <td>{{vehicle.passengers}}</td>
                                <td>{{vehicle.cylinder}}</td>
                                <td>{{vehicle.tons}}</td>
                                <td>{{vehicle.type_vehicle.total_pay | currency:"$"}}</td>
                                <td><a ui-sref="yousefrontend.authenticated.vehicle.edit({id: vehicle.id})">Editar</a></td>
                                <td><a ng-click="welcome.deleteVehicle(vehicle.id)">Eliminar</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <a ui-sref="yousefrontend.authenticated.vehicle.new" class="pull-rigth">
                    <button class="btn btn-default navbar-btn">Nuevo</button>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    
</div>
