<div class="container pt-lg">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="col-md-6 col-md-offset-3">
        <img src="img/logo.png" class="block-center img-responsive text-center" style="height: 64px;" />
      </div>
      <div class="col-md-12">
        <form ng-submit="devise.register()" name="devise.form" novalidate>
          <formly-form model="devise.account" fields="devise.fieldsFormSignUp" options="devise.options" form="devise.formSignUp">
            <button type="submit" class="btn btn-primary submit-button pull-right" ng-disabled="devise.formSignUp.$invalid">Ingresar</button>
          </formly-form>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Put custom templates here -->
<script type="text/ng-template" id="error-messages.html">
  <formly-transclude></formly-transclude>
  <div ng-messages="fc.$error" ng-if="form.$submitted || options.formControl.$touched" class="error-messages">
    <div ng-message="{{ ::name }}" ng-repeat="(name, message) in ::options.validation.messages" class="message">{{ message(fc.$viewValue, fc.$modelValue, this)}}</div>
  </div>
</script>