<div class="container">
	<div class="row">
		<div class="col-lg-6 col-lg-offset-3">
			<form ng-submit="cs.onSubmit()" novalidate>
				<formly-form model="cs.queryPlate" fields="cs.plateFields">
			  	<button type="submit" class="btn btn-primary submit-button" ng-disabled="cs.form.$invalid">Consultar</button>
				</formly-form>
			</form>
		</div>
	</div>
	<div class="row pt-lg" ng-show="cs.showResult">
		<div class="col-lg-6 col-lg-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading"><b>{{cs.queryPlate.plate}}</b></div>
            <div class="panel-body">
                <div>
                    <p><b>Placa:</b>{{cs.query.plate}}</p>
                    <p><b>Cilindraje:</b>{{cs.query.cylinder}}</p>
                    <p><b>Tipo de vehiculo:</b>{{cs.query.classvehicle}}</p>
                    <p><b>SOAT:</b>{{cs.soat}}</p>
                </div>
                <a ui-sref="yousefrontend.authenticated.welcome" class="pull-rigth">Comprar</a>
            </div>
        </div>
    </div>
	</div>
</div>

<!-- Put custom templates here -->
<script type="text/ng-template" id="error-messages.html">
  <formly-transclude></formly-transclude>
  <div ng-messages="fc.$error" ng-if="form.$submitted || options.formControl.$touched" class="error-messages">
    <div ng-message="{{ ::name }}" ng-repeat="(name, message) in ::options.validation.messages" class="message">{{ message(fc.$viewValue, fc.$modelValue, this)}}</div>
  </div>
</script>