<div class="container-fluid">
	<!-- top navbar-->
	<header ng-include="'views/common/topnavbar.html'"></header>
	<!-- Main section-->
  <div class="pt-lg">
  	<!-- Page content-->
  	<section ui-view="" autoscroll="false" ng-class="app.viewAnimation"></section>
  </div>
  <!-- Page footer-->
  <div ng-include="'views/common/footer.html'"></div>
</div>